.plugin-wrap .position{ overflow: hidden;}
.plugin-wrap-click{position:absolute;top:0;left:50%;margin-left: -500px;width:1000px;height:800px;}
/*倒计时*/
.pro-list{width:970px;margin:0 auto;padding: 15px;margin-bottom: 15px;}
.pro-list-title{padding: 9px 10px;background-color: #f5f5f5;  margin-top: 15px; margin-bottom: 15px;}
.salebg{color:#f10582;font-size: 16px;font-weight: 700;font-family: "微软雅黑"}
.pro-list-time{position: absolute;top:10px;left:300px;}
.pro-list-time-icon{background: url("../images/group/index_imgs.png") no-repeat -50px 0;display: inline-block;width:16px;height:16px;
    position:relative;top:3px;left:-5px;
}
.pro-list-time-count{display: inline-block;width:16px;height:16px;background:url("../images/group/list_countdown.gif") no-repeat;
    position:relative;top:4px;
}
.pro-list-collect{position: absolute;top:7px;right:20px;}
.vip-brand {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/nav-img/sprite.png) no-repeat -99px -188px;
    position: relative;
    top: 3px;
    left: -5px;
}
.pro-list-collect-box{display:inline-block;padding:2px 15px;background:#ededed;border-radius: 14px;}
.pro-list-collect-box span{color:#f10582;}
.pro-list-collect-box:hover{background: #f10582;color: white;}
.pro-list-collect-box:hover span{color: white;}
/*分类*/
.pro-soetbar-all{background: #fafafa;}
.category{height:178px;}
.pro-soetbar-choice-box{height: 176px;}
.pro-soetbar-name{float: left;width: 88px;text-align: center; padding-top: 21px;padding-bottom: 21px;color: #999;}
.pro-soetbar-choice{background: #fff;padding: 21px 20px 0 20px;margin-top: 1px;width:800px;margin-bottom: 0px;}
.pro-soetbar-item{float:left;width:150px;height:30px}
.pro-soetbar-item a{display: inline-block;padding: 2px 5px;border-radius: 2px;}
.nochoice-check{border:1px solid #fff;}
.choice-check{border-color:#f10582;color: #f10582;background: #fef7fb;}
a:focus{text-decoration: none;color: #f10582;}
/*尺码*/
.soetbarSize{height:70px}
.pto-Size{height:69px;border-top: 1px dotted #f0f0f0}
.Size-item{width:70px;height:46px;text-align: center;}
.pro-list-oper{
    height: 42px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    position: relative;
}
/*筛选*/
.pro-oper{border-top:1px solid #f0f0f0}
.pro-oper span{display:inline-block;padding:11px 12px;border-right:1px solid #fff;cursor: pointer}
.change{color: #f10582;background: #fef7fb;}
.pro-oper span:hover{color:#f10582;}
.pro-hastock{display:inline-block;}
.select{width:16px;height:16px;cursor:pointer;position:relative;top:3px;}
.pro-hastock:hover{color:#f10582;cursor: pointer}
/*详情图*/
.pro-wrap-list{overflow: hidden;position: relative;width:1005px;}
.pro-wrap-list-body{width:9999px;height:1500px;}
.pro-wrap-list-block{
    float: left;margin-right:65px;
}
/*每行*/
.pro-wrap-list-row{height: 375px;margin-bottom: 0;}
/*每个详情图box*/
.pro-wrap-list-row li{padding:10px 8px 0;width:235px;height:365px;}
.list-slide-img{width:218px;}
.list-slide-img img{height:297px;}
/*人气热度*/
.peo_icon{position: absolute;top:0;left:0;width:45px;height:45px;}
/*出售信息*/
.pro-wrap-list-item-info{height:26px;width:218px;}
/*在售价格*/
.sells-price{margin-right: 10px;color: #f10180;}
.price{font-size: 22px;}
.old-price{color:#999;}
.discount{
    float: right;margin-top:4px;padding-right: 3px; padding-left: 3px;color:#f1b13b;
    border: 1px solid #f1b13b; border-radius: 2px;margin-right:1px;
}
.pro-wrap-list-item h6{margin-bottom: 0;width:235px;}
.pro-wrap-list-item h6 a:hover{color: #666;}
/*hover 出现的小图*/
.list-slide-imgs{position: absolute;top:9px;right:8px;display:none;}
.list-slide-small{display:block;width:54px;height:69px;margin-bottom:6px;border:1px solid transparent}
.list-slide-small-hover{border-color:#f10582;}
/*隐藏的盒子宽度*/
.list-slide-imgs-box{position:absolute;top:0;left:0;width:300px;border:1px solid transparent;
    height:365px;padding:10px 8px 0 8px;background: white;
}
.pro-wrap-list-row li:hover .list-slide-imgs{display: block;}
.pro-wrap-list-row li:hover .list-slide-imgs-box{border-color:#e5e5e5;z-index:100;}
/*详情图end*/
/*分页*/
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #428bca;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*更多品牌推荐*/
.pro-list-recom{border: 1px solid #ECE0E0;position: relative;
    background-color: #fff;}
.header-name{
    width: 160px;
    text-align: center;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    padding-top: 10px;
    line-height: 40px;
}
.header-name-page{float:right;padding-bottom: 0;}
.reco-body{overflow: hidden;position: relative;width:940px;}
.body-wrap{height:468px;width:9999px;margin-left:-940px}
.body-wrap-block{height:465px;float: left;width:940px;}
.body-wrap-block > a{float: left}
.body-wrap-block > a:hover .wrap-block-item{border-color:#f10582;}
.wrap-block-item{
    border: 1px solid #e9e7ea;
    height: 200px;
    padding-top: 0;
    margin-top: 25px;
    margin-left: 14px;
    width: 294px;
}
.img-des{position: absolute;bottom:27px;left:0;width:292px;text-align: right;
    background:rgba(102,102,102,.5);color:white;padding-right:10px;
}
.img-des span{font-size: 16px;}
.item-name{
    padding-left: 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.reco-con-btn{margin: 10px auto;text-align: center}
.reco-con{
    display: inline-block;width:39px;height:39px;background:url("../images/group/m-sep-v4.png") no-repeat;cursor:pointer;
}
.reco-con-left{background-position: 0 -300px;margin-right: 10px;}
.reco-con-right{background-position: 0 -350px;margin-left: 10px;}
