*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
.case-content{
	width:100%;
	height:auto;
	background:#f0f1f1;
}
.case-content-center{
	width:1100px;
	height:1240px;
	margin:0 auto;
}
/*提示部分*/
.case-content-tishi{
	width:100%;
	height:26px;
	padding:27px 0px;
}
.case-content-tishi li{
	width:78px;
	height:26px;
	float:left;
	background:#ffffff;
	line-height:26px;
	text-align:center;
	margin-right:5px
}
.case-content-tishi li a{
	color:#636363;
	font-size:12px;
}
.case-content-tishi .tishi-active{
	background:#636363;
}
.case-content-tishi .tishi-active a{
	color:white;
}
/*列表部分*/
.case-list li{
	width:259px;
	height:236px;
	background:white;
	float:left;
	margin-bottom:32px;
}
.case-list .zhan{
	width:21.333333333333px;
	height:236px;
	background:#f0f1f1;
}
.case-list li h1{
	width:100%;
	height:40px;
	font-size:16px;
	color:black;
	border-bottom:1px solid #f7f7f7;
}
.case-list li h1 a{
	font-size:16px;
	color:black;
	line-height:40px;
	padding-left:14px;
}
.case-list li p{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#939292;
	padding-left:14px;
}